

<%= form_with :model => @posts do |form| %>

  <p>
    
    
    <%= form.label "What did we do here?" %>
    <%= form.text_field "title" %>
    
    <br>
    
    <%= form.label "Date of our visit" %>
    <%= form.date_field "posted_on" %>
    
    <br>
    <%= form.label "Let's talk details!" %>
    <%= form.text_area "description" %>
    
    <%= form.hidden_field "place_id" %>
    
  </p>
  <%= form.submit %>
<% end %>