<h1><%= @places["name"] %></h1>


<p>
<% for post in @posts %>
    <%= post["title"] %> 
    <br>
    <%= post["posted_on"] %>
    <br>
    <%= post["description"]%> 
    <br>
<% end %>
</p>

<p>
  <a href="/posts/new?place_id=<%= @places["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<p><%= button_to "Delete this place", @places, method: :delete %></p>